@import "@fontsource/inter";

:root {
  --base-dark: #230441;
  --accent-purple: #3d0e62;
  --accent-magenta: #721f81;
  --glow-blue: #594aad;
  --glow-pink: #ae1d86;
  --color-black: #000000;
  --color-white: #ffffff;

  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: var(--color-white);
  background-color: var(--base-dark);

  font-synthesis: style weight;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  place-items: center;
  justify-content: center;
  background-color: var(--base-dark);
}

html {
  overflow-x: hidden;
  max-width: 100vw;
}

#root {
  width: 100%;
  height: 100vh;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  margin: 0;
}

/* Utilities */
.text-white {
  color: #fff !important;
}

.flex-1 {
  flex: 1;
}

.capital {
  font-weight: 700;
}